@import '~bootstrap/scss/bootstrap';


* {
  font-family: Vazir;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.35s ease;
}

.fade-enter-from,
.fade-leave-active {
  opacity: 0;
}